<template>
  <b-container fluid>
    <b-row align-content="center">
      <b-col offset-lg='1' lg="4" offset-md='1' md="6" offset-sm='1' sm="12" align-self="center">
        <br>
        <h1>Projekty studentów</h1>
      </b-col>
    </b-row>
    <hr>
    <b-row align-h="center" align-v="center">
      <project-grid />
    </b-row>
  </b-container>
</template>

<script>
import ProjectGrid from '@/components/ProjectGrid';

export default {
  components: {
    ProjectGrid
  }
}
</script>

<style scoped>

</style>
