<template>
  <div>
      <b-button-group>
        <b-button style="background-color: #BCAF9C; border: 0px;" v-for="tech in technologies" :key="tech">
            <font-awesome-icon v-if="technologies.length > 0" :icon="['fab', tech]" />{{"  " + tech }}
        </b-button>
      </b-button-group>
  </div>
</template>
<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import {faGithub} from '@fortawesome/fontawesome-free-brands'

export default {
  props: ['technologies'],
  components: {
      FontAwesomeIcon
  }
}
</script>
<style scoped>
    
</style>
