<template>
  <b-row align-v="center" align-h="center">
     <a :href="gitProfile"><font-awesome-icon :icon="['fab', repoIcon]" size="2x" />{{"  " + gitProfile}}</a>
  </b-row>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import {faGithub} from '@fortawesome/fontawesome-free-brands'

export default {
    props: ['gitProfile'],
    computed: {
      repoIcon(){
        if(this.gitProfile.includes("github"))
            return "github";
        else if (this.gitProfile.includes("gitlab"))
            return "gitlab";
        else if (this.gitProfile.includes("bitbucket"))
            return "bitbucket";
        else
            return "git";
      }
  },
    components: {
        FontAwesomeIcon
  },
}
</script>

<style scoped>

</style>
