<template>
  <div>
      <b-card-group deck>
        <b-card v-for="project in authorProjects.slice(0,4)" :key="project.id"
            :title="project.projectName"
            :img-src="project.thumbnailLink"
            img-top
            tag="article"
            style="max-width: 250px; background-color: #BCAF9C; border: 0px;">
            <p>{{ project.short }}</p>
            <hr>
            <b-button :to="'/projects/' + project.id" variant="darkest">Zobacz więcej</b-button>
        </b-card>
      </b-card-group>
  </div>
</template>

<script>
export default {
    computed: {
        authorProjects(){          
            return this.$store.getters.loadedProjects.filter((project) => {return project.author === this.$route.params.id;});
        }
    },
}
</script>

<style scoped>

</style>
