<template>
  <b-container fluid>
    <b-row align-content="center">
      <b-col offset-lg='1' lg="3" offset-md='1' md="6" offset-sm='1' sm="12" align-self="center">
        <br>
        <h1>Autorzy</h1>
      </b-col>
    </b-row>
    <hr>
    <b-row class="grid">
      <b-col cols="12" align-self="center">
        <b-card-group columns>
            <div v-for="author in authors" :key="author.id">
              <b-card 
                  :title="author.firstName + ' ' + author.lastName" 
                  :img-src="author.avatarLink"
                  tag="nuxt-link"
                  :to="/authors/ + author.id"
                  style="max-width: 400px; max-height:300px; background-color: #BCAF9C; border: 0px;">
                  <p>{{ author.technologies }}</p>
              </b-card>
            </div>
        </b-card-group>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  computed: {
    authors() {
      return this.$store.getters.loadedAuthors
    }
  }
}
</script>

<style scoped>
  .grid {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px
  }

  a {
    transition: box-shadow 1s;
  }

  a:hover {
    cursor: pointer;
    box-shadow: 5px 5px 2px 0px #2B2118;
    text-decoration: none;
  }

  a {
color: #7A6C5D;
}

p, h1, h2, h3, h4, a:hover {
color: #2B2118;
}
</style>
