<template>
    <b-container fluid>
        <br>
        <b-row align-h="center">
            <h1>Panel administracyjny</h1>
        </b-row>
        <br>
        <br>
        <b-row align-v="center" align-h="center" align-content="center">
            <b-col md="4" offset-md="2">
                <b-button to="/admin/newproject" size="lg" variant="darkest">Dodaj projekt</b-button>
            </b-col>
            <b-col md="4" offset-md="2">
                <b-button to="/admin/newauthor" size="lg" variant="darkest">Dodaj autora</b-button>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
export default {

}
</script>

<style scoped>

</style>


