<template>
 <b-container>
        <br>
        <b-row align-h="center">
            <h1>Nowy autor</h1>
        </b-row>
        <hr>
        <b-row>
            <b-col cols="6">
                <b-col cols="12" class="form-data">
                    <div :class="{invalid: $v.author.firstName.$error}">
                        <label class="lbl" for="firstName">Imię:</label>
                        <b-form-group id="firstName"
                            :label-cols="4"
                            breakpoint="md">
                            <b-form-input 
                                v-model.trim="author.firstName"
                                @input="$v.author.firstName.$touch()"
                            ></b-form-input>
                        </b-form-group>
                    </div>
                </b-col>
                <b-col cols="12" class="form-data">
                    <div :class="{invalid: $v.author.lastName.$error}">
                        <label class="lbl" for="lastName">Nazwisko:</label>
                        <b-form-group id="lastName"
                            :label-cols="4"
                            breakpoint="md">
                            <b-form-input 
                                v-model.trim="author.lastName"
                                @input="$v.author.lastName.$touch()"
                            ></b-form-input>
                        </b-form-group>
                    </div>
                </b-col>
                <b-col cols="12" class="form-data">
                    <div :class="{invalid: $v.author.about.$error}">
                        <label class="lbl" for="about">O autorze:</label>
                        <b-form-textarea id="about"
                            v-model.trim="author.about"
                            @input="$v.author.about.$touch()"                            
                            placeholder="Kilka słów o autorze"
                            :rows="3"
                            :max-rows="6">
                        </b-form-textarea>
                    </div>
                    <div style="margin-top: 20px;" v-if="$v.$invalid" class="form-data">
                        <h3>Wypełnij wszystkie pola aby dodać autora.</h3>
                    </div>
                </b-col>
            </b-col>
            <b-col cols="6">
                <b-col cols="12" class="form-data">
                    <div :class="{invalid: $v.author.year.$error}">
                        <label class="lbl" for="year">Rok studiów:</label>
                            <b-form-select 
                                id="year" 
                                v-model.trim="author.year"
                                @input="$v.author.year.$touch()"                                 
                                :options="years" 
                                class="mb-3" />
                    </div> 
                </b-col>
                <b-col cols="12" class="form-data">
                    <div :class="{invalid: $v.author.gitProfile.$error}">
                        <label class="lbl" for="gitProfile">Profil git:</label>
                        <b-form-group id="gitProfile"
                            :label-cols="4"
                            breakpoint="md">
                            <b-form-input
                                v-model.trim="author.gitProfile"
                                @input="$v.author.gitProfile.$touch()"
                            ></b-form-input>
                        </b-form-group>
                    </div>
                </b-col>
                <b-col cols="12" class="form-data">
                    <div :class="{invalid: $v.author.avatarLink.$error}">
                        <label class="lbl" for="avatarLink">Awatar:</label>
                        <b-form-group id="avatarLink"
                            :label-cols="4"
                            breakpoint="md">
                            <b-form-input 
                                v-model.trim="author.avatarLink"
                                @input="$v.author.avatarLink.$touch()"                                
                                placeholder="Wklej link do swojego awatara"
                            ></b-form-input>
                        </b-form-group>
                    </div>
                </b-col>
            <b-col cols="12" class="form-data">
                <div>
                    <label class="lbl" for="technologies">Technologie:</label>
                    <b-form-group id="technologies">
                        <b-form-checkbox-group style="padding:5px; background-color: #BCAF9C" buttons button-variant="darkest" v-model="author.technologies" :options="techs.slice(0,6)">
                        </b-form-checkbox-group>
                        <b-form-checkbox-group style="padding:5px; background-color: #BCAF9C" buttons button-variant="darkest" v-model="author.technologies" :options="techs.slice(6,12)">
                        </b-form-checkbox-group>
                        <b-form-checkbox-group style="padding:5px; background-color: #BCAF9C" buttons button-variant="darkest" v-model="author.technologies" :options="techs.slice(12,18)">
                        </b-form-checkbox-group>
                        <b-form-checkbox-group style="padding:5px; background-color: #BCAF9C" buttons button-variant="darkest" v-model="author.technologies" :options="techs.slice(18)">
                        </b-form-checkbox-group>
                    </b-form-group>
                </div>
            </b-col>
            </b-col>
        </b-row>
        <b-row style="margin: 10px;" align-h="center"> 
            <b-button :disabled="$v.$invalid" @click="onSave" size="lg" style="background-color: #BCAF9C; color: #2B2118" variant="darkest">Prześlij</b-button>
        </b-row>
    </b-container>
</template>

<script>
import {required, url} from 'vuelidate/lib/validators';

export default {
    data() {
        return {
            years: [
                { value: null, text: 'Wybierz rok'},
                { value: '1', text: 'Pierwszy' },
                { value: '2', text: 'Drugi' },
                { value: '3', text: 'Trzeci' },
                { value: '4', text: 'Czwarty'}
            ],
            techs: [
                {value: 'android', text: 'Android'},
                {value: 'angular', text: 'Angular'},
                {value: 'ember', text: 'EmberJS'},
                {value: 'erlang', text: 'Erlang'},
                {value: 'js', text: 'JavaScript'},
                {value: 'laravel', text: 'Laravel'},
                {value: 'node', text: 'NodeJS'},
                {value: 'phoenix-framework', text: 'Phoenix'},
                {value: 'php', text: 'PHP'},
                {value: 'python', text: 'Python'},
                {value: 'react', text: 'React'},
                {value: 'vuejs', text: 'VueJS'},
                {value: 'c++', text: 'C++'},
                {value: 'unity', text: 'Unity'},
                {value: 'unreal-engine', text: 'Unreal Engine'},
                {value: 'java', text: 'Java'},
                {value: 'spring', text: 'Spring'},
                {value: '.net', text: '.NET'},
                {value: 'c#', text: 'C#'},
                {value: 'apple', text: 'iOS'},  
            ],
            author: {
                firstName: '',
                lastName: '',
                year: null,
                about: '',
                gitProfile: '',
                avatarLink: ''
            }
        }
    },
    validations: {
        author: {
            firstName: {
                required
            },
            lastName: {
                required
            },
            year: {
                required
            },
            about: {
                required
            },
            gitProfile: {
                required,
                url
            },
            avatarLink: {
                required,
                url
            },
        }
    },
    methods: {
        onSave() {
            this.$axios.$post('https://coderscanteen.firebaseio.com/authors.json', this.author)
            .then(result => this.$router.push('/admin'))
            .catch(e => console.log(e))
        }
    }
}
</script>

<style scoped>
    .form-data {
        background-color: rgba(122, 108, 93, 0.5);
        padding: 10px;
        margin: 5px;
    }
    .lbl, label {
        font-size: 13pt;
        color: #2B2118;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .invalid input {
        border: 1px solid red;
        background-color: salmon;
    }
    .invalid label {
        color: salmon;
    }
</style>


