<template>
  <div>
    <b-card 
      title="O Autorze"
      bg-variant="light"
      text-variant="white"
      border-variant="light">
      <p>{{ author.firstName + " " + author.lastName }} - <span>Rok studiów: {{ author.year }}</span></p>
      <hr>
      <p>{{ author.about }}</p>
      <b-link :href="author.gitProfile">Zobacz więcej moich projektów!</b-link>
    </b-card>
  </div>
</template>
<script>
export default {
  props: ['author']
}
</script>
<style scoped>
 div {
   margin-left: 10px;
 }
</style>

