<template>
  <div>
      <b-img class="proImage" :src="thumbnail" width="1000px" height="700px" fluid-grow />
  </div>
</template>
<script>
export default {
  props: ['thumbnail']
}
</script>
<style scoped>
  .proImage {
    margin: 0 0 20px 0;
  }
</style>

