<template>
  <div class="main">
    <b-row align-h="center">
      <h3>Status projektu:</h3>
    </b-row>
    <b-row align-h="center" style="margin: 10px;">
      <a :href="gitLink"><font-awesome-icon :icon="['fab', gitIcon]" size="6x" :color="updatesColor" /></a>
    </b-row>
    <b-row align-h="center">
      <h5>Ostatni update:</h5>
    </b-row>
    <b-row align-h="center">
      <p>{{ lastUpdate }}</p>   
    </b-row>
  </div>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import {faGithub} from '@fortawesome/fontawesome-free-brands'

export default {
  props: ['repo'],
  components: {
    FontAwesomeIcon
  },
  computed: {
    gitIcon() {
      if("web_url" in this.repo){
        return "gitlab";
      }
      else if ("scm" in this.repo){
        return "bitbucket"
      }
      else if ("html_url" in this.repo){
        return "github"
      }
      else{
        return "git"
      }},
    gitLink() {
    if("web_url" in this.repo){
      return this.repo.web_url
    }
    else if ("scm" in this.repo){
      return this.repo.links.html.href
    }
    else if ("html_url" in this.repo){
      return this.repo.html_url
    }
    else{
      return "git"
    }},
    lastUpdate() {
      // GitHub
      if("updated_at" in this.repo){
        return this.repo.updated_at.substring(0,10);
      }
      // GitLab
      else if ("last_activity_at" in this.repo){
        return this.repo.last_activity_at.substring(0,10)
      }
      // BitBucket
      else if ("updated_on" in this.repo){
        return this.repo.updated_on.substring(0,10)
      }
      else{
        return "git"
      }
      },
    updatesColor(){
      let updateDate = Math.floor(Date.parse(this.lastUpdate) / 1000);
      let nowDate = Math.floor(new Date().getTime() / 1000);
        // Miesiąc
        if(nowDate - updateDate <= 2629744){
          return "#267226"
        }
        // Kwartał
        else if (nowDate - updateDate <= 7889231){
          return "#C8D123"
        }
        else {
          return "#722626"
        }
    }
}
}
</script>

<style scoped>
  .main {
    margin-left: 20px;
    margin-top: 10px;
  }
</style>

