<template>
  <div class="header">
      <b-row align-h="center">
        <h1>{{ title }}</h1>
      </b-row>
  </div>
</template>
<script>
export default {
  props: ['title']
}
</script>
<style scoped>
    .header {
        margin-top: 25px;
        margin-left: 30px;
    }
</style>
