<template>
  <div>
    <b-container style="margin-top: 50px;" fluid>
      <b-row align-content="center">
        <b-col lg="3">
          <b-row align-h="center" align-v="center" style="margin: 10px;">
            <AuthorAvatar :avatarLink='avatarLink' />
          </b-row>
          <b-row align-h="center" align-v="center" style="margin: 10px;">
            <AuthorRepo :gitProfile='gitProfile' />
          </b-row>
          <b-row align-h="center" align-v="center" style="margin: 10px;">
            <AuthorTech :technologies='technologies' />
          </b-row>
          </b-col>
        <b-col lg="9">
          <AuthorHeader :name='name' :year='year' />
          <AuthorAbout :about='about' />
        </b-col>
      </b-row>
      <b-row align-h="center" align-v="center" style="margin-top: 40px;">
          <AuthorProjects />
      </b-row>
    </b-container>
  </div>
</template>

<script>
import AuthorHeader from '@/components/singleAuthor/AuthorHeader'
import AuthorAvatar from '@/components/singleAuthor/AuthorAvatar'
import AuthorAbout from '@/components/singleAuthor/AuthorAbout'
import AuthorRepo from '@/components/singleAuthor/AuthorRepo'
import AuthorTech from '@/components/singleAuthor/AuthorTech'
import AuthorProjects from '@/components/singleAuthor/AuthorProjects'

export default {
  validate({store, params}) {
    return store.state.loadedAuthors.some((author) => author.id === params.id);
  },
  data() {
    return {
      authorIndex: this.$store.getters.loadedAuthors.findIndex((author) => {return author.id === this.$route.params.id;}),
    }
  },
  computed: {
    name() {
      return this.$store.getters.loadedAuthors[this.authorIndex].firstName + " " + this.$store.getters.loadedAuthors[this.authorIndex].lastName;
    },
    about() {
      return this.$store.getters.loadedAuthors[this.authorIndex].about;
    },
    avatarLink() {
      return this.$store.getters.loadedAuthors[this.authorIndex].avatarLink;
    },
    year() {
      return this.$store.getters.loadedAuthors[this.authorIndex].year;
    },
    gitProfile() {
      return this.$store.getters.loadedAuthors[this.authorIndex].gitProfile;
    },
    technologies() {
      return this.$store.getters.loadedAuthors[this.authorIndex].technologies;
    }
  },
  components: {
    AuthorHeader,
    AuthorAvatar,
    AuthorAbout,
    AuthorRepo,
    AuthorTech,
    AuthorProjects
  }
}
</script>

<style>

</style>
