<template>
  <b-container>
    <b-row class="grid">
        <b-col cols="12" align-self="center">
            <b-card-group columns>
                <div v-for="project in projects" :key="project.id">
                    <b-card
                        :title="project.projectName"
                        :img-src="project.thumbnailLink"
                        img-fluid
                        tag="nuxt-link"
                        :to="/projects/ + project.id"
                        style="max-width: 300px; max-height: 400px; background-color: #BCAF9C; border: 0px;">
                        <p>{{ project.short }}</p>
                    </b-card>
                </div>
            </b-card-group>
        </b-col>
    </b-row>
  </b-container>
</template>

<script>

export default {
    computed: {
        projects() {
            return this.$store.getters.loadedProjects;
        }
    }
}
</script>

<style scoped>
    a {
color: #7A6C5D;
}

p, h1, h2, h3, h4, a:hover {
color: #2B2118;
}

    a {
        transition: box-shadow 1s;
    }

    a:hover {
        cursor: pointer;
        box-shadow: 5px 5px 2px 0px #2B2118;
        text-decoration: none;
    }
</style>
