<template>
  <div>
    <b-container fluid>
      <b-row align-content="center">
        <b-col offset-lg="6">
          <projectHeader :title='project.projectName'/>
        </b-col>
      </b-row>
      <b-row>
        <b-col lg="6">
          <b-col lg="12">
              <projectMedia :thumbnail='project.thumbnailLink' />
          </b-col>
          <b-row>
            <b-col lg="8">
              <authorBox :author='projectAuthor' />
            </b-col>
            <b-col lg="4">
              <projectRepo :repo='git'/>
            </b-col>
          </b-row>
        </b-col>
        <b-col lg="6">
          <projectDescription :description='project.description' />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import projectHeader from '@/components/singleProject/ProjectHeader';
import projectMedia from '@/components/singleProject/ProjectMedia';
import projectDescription from '@/components/singleProject/ProjectDescription';
import projectRepo from '@/components/singleProject/ProjectRepo';
import authorBox from '@/components/singleProject/AuthorBox';

export default {
  validate({store, params}) {
    return store.state.loadedProjects.some((project) => project.id === params.id);
  },
  async asyncData(context) {
    let projectRes = await context.app.$axios.$get("https://coderscanteen.firebaseio.com/projects/" + context.params.id + ".json");
    
    if (projectRes.repoLink.includes("github")){
      let gitHubStats = await context.app.$axios.$get("https://api.github.com/repos/" + projectRes.repoLink.slice(19));
      return {
      project: projectRes,
      git: gitHubStats
    }}
    else if (projectRes.repoLink.includes("gitlab")){
      let gitLabStats = await context.app.$axios.$get("https://gitlab.com/api/v4/projects/" + projectRes.repoLink.split("/")[3] + "%2F" + projectRes.repoLink.split("/")[4]);
      return {
      project: projectRes,
      git: gitLabStats
    }}
    else if (projectRes.repoLink.includes("bitbucket")){
      let bitBucketStats = await context.app.$axios.$get("https://api.bitbucket.org/2.0/repositories/" + projectRes.repoLink.slice(22));
      return {
        project: projectRes,
        git: bitBucketStats       
    }}
  },
  computed: {
    projectAuthor(){
      let vm = this;
      return vm.$store.getters.loadedAuthors.find(
        function(authorID) 
          {           
            return authorID.id == vm.project.author;
          });
    }
  },
  components: {
    projectHeader,
    projectMedia,
    projectDescription,
    projectRepo,
    authorBox
  }
}
</script>

<style>

</style>
