<template>
  <div>
    <main-menu></main-menu>
    <nuxt/>
  </div>
</template>

<script>
import MainMenu from "~/components/homepage/MainMenu.vue";

export default {
  components: {
    MainMenu
  }
}
</script>


<style>

.navbar-custom {
    background-color: #2B2118;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #BCAF9C;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #BCAF9C;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #FBFBF2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
  color: #7A6C5D;
}

a {
  color: #AF9164;
}

a:hover {
  color: #2B2118;
}


p {
  font-family: 'Dosis', sans-serif;
  color: #7A6C5D;
}

html, body
{
  background: #FBFBF2;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;
}
*, *:before, *:after
{
  box-sizing: border-box;
  margin: 0;
}
.button--green
{
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}
.button--green:hover
{
  color: #fff;
  background-color: #3b8070;
}
.button--grey
{
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}
.button--grey:hover
{
  color: #fff;
  background-color: #35495e;
}
</style>
