<template>
    <b-container>
        <br>
        <b-row align-h="center">
            <h1>Nowy projekt</h1>
        </b-row>
        <b-row>
            <b-col class="form-data">
                <div :class="{invalid: $v.project.projectName.$error}">
                    <label class="lbl" for="projectName">Nazwa projektu</label>
                    <b-form-group 
                        id="projectName"
                        :label-cols="4"
                        breakpoint="md">
                        <b-form-input 
                            v-model.trim="project.projectName"
                            @input="$v.project.projectName.$touch()"
                        ></b-form-input>
                    </b-form-group>
                </div>
            </b-col>
            <b-col  class="form-data">
                <div :class="{invalid: $v.project.author.$error}">
                    <label class="lbl" for="author">Autor</label>
                        <b-form-select 
                            id="author" 
                            v-model.trim="project.author" 
                            :options="authors"
                            @input="$v.project.author.$touch()"
                            class="mb-3" />
                </div> 
            </b-col>
        </b-row>
        <b-row>
            <b-col class="form-data">
                <div :class="{invalid: $v.project.description.$error}">
                    <label class="lbl" for="description">Opis</label>
                    <b-form-textarea id="description"
                        v-model.trim="project.description"
                        placeholder="Opisz projekt"
                        @input="$v.project.description.$touch()"
                        :rows="6"
                        :max-rows="6">
                    </b-form-textarea>
                </div>
            </b-col>
            <b-col cols="4" class="form-data">
                <b-col cols="12">
                    <div :class="{invalid: $v.project.repoLink.$error}">
                        <label class="lbl" for="repoLink">Link do repozytorium</label>
                        <b-form-group id="repoLink"
                            :label-cols="4"
                            breakpoint="md">
                            <b-form-input 
                                v-model.trim="project.repoLink"
                                @input="$v.project.repoLink.$touch()">
                            </b-form-input>
                        </b-form-group>
                    </div>
                </b-col>
                <b-col cols="12">
                    <div :class="{invalid: $v.project.thumbnailLink.$error}">
                        <label class="lbl" for="thumbnailLink">Awatar:</label>
                        <b-form-group id="thumbnailLink"
                            :label-cols="4"
                            breakpoint="md">
                            <b-form-input 
                                v-model.trim="project.thumbnailLink"
                                placeholder="Wklej link do miniaturki"
                                @input="$v.project.thumbnailLink.$touch()"
                            ></b-form-input>
                        </b-form-group>
                    </div>
                </b-col>
            </b-col>
        </b-row>
        <b-row align-h="around">
            <b-col lg="5" class="form-data">
                    <div :class="{invalid: $v.project.endDate.$error}">
                        <label class="lbl" for="endDate">Data ukończenia:</label>
                        <b-form-group id="endDate"
                            :label-cols="4"
                            breakpoint="md">
                            <b-form-input 
                                type="date"
                                v-model.trim="project.endDate"
                                @input="$v.project.endDate.$touch()"
                            ></b-form-input>
                        </b-form-group>
                    </div>
            </b-col>
            <b-col lg="6" align-self="center">
                <div v-if="$v.$invalid" class="form-data">
                    <h3>Wypełnij wszystkie pola aby dodać projekt.</h3>
                </div>
            </b-col>
        </b-row>
        <b-row style="margin: 15px;" align-h="center"> 
            <b-button :disabled="$v.$invalid" @click="onSave" size="lg" style="background-color: #BCAF9C; color: #2B2118" variant="darkest">Prześlij</b-button>
        </b-row>
    </b-container>
</template>

<script>
import { required, url } from 'vuelidate/lib/validators';

export default {
    fetch(context){
        return context.app.$axios
        .$get('https://coderscanteen.firebaseio.com/authors.json')
        .then(data => {
            let authorsArray = [];
            for (let key in data) {
            authorsArray.push({ ...data[key], id: key });
            }
            context.store.commit("setAuthors", authorsArray);
        })
        .catch(e => context.error(e))
    },
    data() {
        return {
            project: {
                projectName: '',
                author: null,
                description: '',
                repoLink: '',
                thumbnailLink: '',
                endDate: ''
            }
        }
    },
    validations: {
        project: {
            projectName: {
                required
            },
            author: {
                required
            },
            description: {
                required
            },
            repoLink: {
                required,
                url
            },
            thumbnailLink: {
                required,
                url
            },
            endDate: {
                required
            },
        }
    },
    methods: {
        onSave() {
            this.$axios
                .$post('https://coderscanteen.firebaseio.com/projects.json',
                     {...this.project, short: this.project.description.substring(0, 50) + "..." })
                .then(result => this.$router.push('/admin'))
                .catch(e => console.log(e))
        }
    },
    computed: {
        authors() {
            let authors = []
            for(let i=0;i<this.$store.getters.loadedAuthors.length;i++){
                authors.push({text: this.$store.getters.loadedAuthors[i].firstName + ' ' + this.$store.getters.loadedAuthors[i].lastName, value: this.$store.getters.loadedAuthors[i].id})
            }
            return authors;
        }
    }
}
</script>

<style scoped>
    .form-data {
        background-color: rgba(122, 108, 93, 0.5);
        padding: 10px;
        margin: 5px;
    }
    .lbl, label {
        font-size: 13pt;
        color: #2B2118;;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .invalid input {
        border: 1px solid red;
        background-color: salmon;
    }
    .invalid label {
        color: salmon;
    }
</style>


