<template>
    <b-container fluid>
      <b-row align-content="center">
        <b-col>
          <br>
          <Intro />
        </b-col>
      </b-row>
    <b-row align-content="center">
      <b-col lg="4" md="6" sm="12" align-self="center">
        <h1>Najnowsze projekty</h1>
      </b-col>
    </b-row>
    <hr>
    <b-row>
      <b-col cols="12" align-self="center">
        <recent-projects />
      </b-col>
    </b-row>
    </b-container>
</template>

<script>
import Intro from "@/components/homepage/Intro"
import RecentProjects from "@/components/homepage/RecentProjects"

export default {
  components: {
    Intro,
    RecentProjects
  }
}
</script>

<style scoped>
  
  img {
    padding: 10px; 
    border-radius: 30%;
    max-width: 1200px;
    max-height: 380px;
  }

</style>
