<template>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Portfolio ISSP</h1>
      <p> Aplikacja internetowa stworzona na potrzeby przedmiotu 
        Indywidualny Projekt Programistyczny 2017/2018.</p>
      <hr>
      <p>
        Portal został napisany przy pomocy języka JavaScript w wersji ES6 oraz Nuxt.JS. 
        Za stronę graficzną odpowiedzialna jest głównie biblioteka Bootstrap, a za obsługę
        bazy danych portal Firebase.
      </p>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>

.jumbotron {
  background-color: #BCAF9C;
}

h1, p {
  color: #2B2118;
}

</style>
