<template>
  <div>
      <nav class="navbar navbar-expand-lg navbar-custom">
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
        <a class="navbar-brand" href="/">CodersCanteen</a>
        
        <b-collapse is-nav id="nav_collapse">
            <b-navbar-nav class="ml-auto">
                <b-nav-item to="/" exact>Home</b-nav-item>
                <b-nav-item to="/projects">Projects</b-nav-item>
                <b-nav-item to="/authors">Authors</b-nav-item>
            </b-navbar-nav>
        </b-collapse>
      </nav>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>

    a {
        font-family: 'Dosis', sans-serif;
        font-size: 15pt;
    }

</style>
