<template>
  <div>
      <b-card-group deck>
        <b-card v-for="project in RecentProjects" :key="project.id"
            :title="project.projectName"
            :img-src="project.thumbnailLink"
            img-top
            tag="article"
            style="max-width: 350px; background-color: #BCAF9C; border: 0px;">
            <p>{{ project.short }}</p>
            <hr>
            <b-button :to="'/projects/' + project.id" variant="darkest">Zobacz więcej</b-button>
        </b-card>
      </b-card-group>
  </div>
</template>

<script>
export default {
    computed: {
        RecentProjects(){
            return this.$store.getters.loadedProjects.slice(0,4);
        }
    },
}
</script>

<style scoped>
a {
color: #7A6C5D;
}

p, h1, h2, h3, h4, a:hover {
color: #2B2118;
}
</style>
